{% extends 'base.html' %}

{% block content %}
  <!-- Background Image -->
  <div class="background-image"></div>

  <div class="content-section">
  <div class="dashboard-subtitle-container">
    <h2>Import - Export and Logistics Calculator</h2>
  </div>
  <div class="dashboard-buttons-container">
    <a class="main-button" href="{{ url_for('coredata.dashboard') }}">Core Data</a>
    <a class="main-button" href="{{ url_for('operations.dashboard') }}">Operation Tools</a>
    <a class="main-button" href="{{ url_for('financial.dashboard') }}">Financial Tools</a>
    <a class="main-button" href="{{ url_for('users.profile') }}">User Management</a>
  </div>
</div>
{% endblock %}

